#rise-footer {
    width: 100%;
    z-index: 9;
}

.notebook_app {
    background-color: white;
}

.stack .rendered_html h3:first-child {
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.5em;
    z-index: 99;
    padding: 0 0 0 0;
    border-bottom: 3px #3333B3 solid;
}